<section class="bg-gray-50 py-16">
  <div class="container mx-auto px-6 lg:px-10">
    <h2 class="text-4xl font-semibold text-green-800 text-center mb-10">Popular Products</h2>

    <input
      [(ngModel)]="text"
      type="search"
      placeholder="Search..."
      class="border-2 border-green-600 block mx-auto my-6 w-1/2 rounded-lg p-2 transition-all duration-200 focus:outline-none focus:ring-1 focus:ring-green-600"
    />

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 place-items-center">
      @for (product of productList()|search:text| paginate: { id: 'foo', itemsPerPage: pageSize,
      currentPage: p, totalItems: total } ; track product.id) {
      <app-card [product]="product" class="w-full max-w-sm"></app-card>
      }
    </div>
    <div class="flex justify-center mt-10">
      <pagination-controls
        class="my-pagination"
        id="foo"
        (pageChange)="getAllProductData($event)"
      ></pagination-controls>
    </div>
  </div>
</section>
