<section class="py-10">
    <div class="container mx-auto px-4">
      <ol
        class="flex flex-col sm:flex-row items-center justify-center w-full space-y-4 sm:space-y-0 sm:space-x-8 rtl:space-x-reverse mb-10"
      >
        <li
          class="flex items-center space-x-2.5 rtl:space-x-reverse"
          [class.text-blue-600]="step === 1"
          [class.text-gray-500]="step !== 1"
        >
          <span
            class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
            [class.border-blue-600]="step === 1"
            [class.border-gray-400]="step !== 1"
          >
            1
          </span>
          <span>
            <h3 class="font-medium leading-tight">User info</h3>
            <p class="text-sm">Enter your email</p>
          </span>
        </li>
  
        <li
          class="flex items-center space-x-2.5 rtl:space-x-reverse"
          [class.text-blue-600]="step === 2"
          [class.text-gray-500]="step !== 2"
        >
          <span
            class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
            [class.border-blue-600]="step === 2"
            [class.border-gray-400]="step !== 2"
          >
            2
          </span>
          <span>
            <h3 class="font-medium leading-tight">Verification code</h3>
            <p class="text-sm">Check your email</p>
          </span>
        </li>
  
        <li
          class="flex items-center space-x-2.5 rtl:space-x-reverse"
          [class.text-blue-600]="step === 3"
          [class.text-gray-500]="step !== 3"
        >
          <span
            class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
            [class.border-blue-600]="step === 3"
            [class.border-gray-400]="step !== 3"
          >
            3
          </span>
          <span>
            <h3 class="font-medium leading-tight">Reset password</h3>
            <p class="text-sm">Set a new password</p>
          </span>
        </li>
      </ol>
  
      <div class="max-w-md mx-auto bg-white p-8 rounded-2xl shadow-lg space-y-6">
        @if (step === 1) {
          <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()" class="space-y-6">
            <app-input
              [control]="verifyEmail.get('email')"
              [labelInput]="'Email'"
              [idInput]="'email'"
              [typeInput]="'email'"
            ></app-input>
            <button type="submit" class="btn w-full rounded-lg">Verify Email</button>
          </form>
        } @else if (step === 2) {
          <form [formGroup]="verifyCode" (ngSubmit)="formStep2()" class="space-y-6">
            <app-input
              [control]="verifyCode.get('resetCode')"
              [labelInput]="'Code'"
              [idInput]="'code'"
              [typeInput]="'text'"
            ></app-input>
            <button type="submit" class="btn w-full rounded-lg">Verify Code</button>
          </form>
        } @else if (step === 3) {
          <form [formGroup]="resetPass" (ngSubmit)="formStep3()" class="space-y-6">
            <app-input
              [control]="resetPass.get('email')"
              [labelInput]="'Email'"
              [idInput]="'email'"
              [typeInput]="'email'"
            ></app-input>
            <app-input
              [control]="resetPass.get('newPassword')"
              [labelInput]="'New Password'"
              [idInput]="'newPassword'"
              [typeInput]="'password'"
            ></app-input>
            <button type="submit" class="btn w-full rounded-lg">Reset Password</button>
          </form>
        }
      </div>
    </div>
  </section>
  