<section>
    
    <owl-carousel-o [options]="mainOptions">
    <ng-template carouselSlide>
<img src="/images/ms-1.avif" class="w-full" alt="">

    </ng-template>  
    <ng-template carouselSlide>
<img src="/images/ms-2.avif" class="w-full" alt="">

    </ng-template>  
    <ng-template carouselSlide>
<img src="/images/ms-3.avif" class="w-full" alt="">

    </ng-template>  
    <ng-template carouselSlide>
<img src="/images/ms-4.avif" class="w-full" alt="">

    </ng-template>  

  </owl-carousel-o>

</section>