/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&family=Roboto:wght@400;500&display=swap');

@import "tailwindcss" ;



@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@layer components{

.btn{

  @apply disabled:cursor-not-allowed disabled:bg-gray-500 bg-green-700 py-2 text-white border cursor-pointer border-green-800 
  w-full hover:bg-green-900 transition-all duration-300
}

}

body {
  font-family: var(--font-body);
}

:root {
  --font-heading:"Roboto", sans-serif ;
  --font-body:"Poppins", sans-serif ;
  --main-color: #0aad0a;
}


h1, h2, h3, h4, h5, h6 ,p{
  font-family: var(--font-heading);
  
}



.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #11bd11;
}

.card{

 @apply border border-gray-400 relative shadow-lg p-1 rounded
}